<h1>Editar contrato</h1>

<form action="/contracts/edit/{{contract._id}}" method="POST">
  <div>
    <label>Local</label>
    <input type="text" value="{{contract.local.name}}" disabled />
  </div>
  <div>
    <label>Inquilino</label>
    <input
      type="text"
      name="tenantName"
      value="{{contract.tenantName}}"
      required
    />
  </div>
  <div>
    <label>Monto</label>
    <input
      type="number"
      name="baseRent"
      value="{{contract.baseRent}}"
      disabled
    />
  </div>
  <div>
    <label>Día de pago</label>
    <input type="number" value="{{contract.paymentDay}}" disabled />
  </div>
  <div>
    <label>Inicio</label>
    <input
      type="date"
      value="{{formatDateInput contract.startDate}}"
      disabled
    />
  </div>
  <div>
    <label>Fin</label>
    <input
      type="date"
      name="endDate"
      value="{{formatDateInput contract.endDate}}"
      required
    />
  </div>
  <button>
    Guardar cambios
  </button>
</form>